<html>
    <head>
        <title>Login Code</title>
        <style>
            b {
                background-color: royalblue; color: white; padding: 4px; letter-spacing: 0.2rem;
            }
        </style>
    </head>
    <body>
        <p>Dear Traveler! Here is your verification code: <b><%= code %></b></p>
    </body>
</html>